*{
padding: 0%;
margin: 0;
box-sizing: border-box;
}


html{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

body{
    line-height: 135%;
}

.grey-rule{
    width: 90px;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #c7c7c7;
}

.text-uppercase{
    text-transform: uppercase;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*left-side*/

#left-side {
    width: 400px;
    background-color:#fff;
    float: left;
    position: fixed;
   
}

#left-side .container{
    padding: 50px;
}


/* header */

header .container{
    padding: 50px;
}

header h1{
    font-size: 36px;
    color: #333;
    font-weight: 400;
    cursor: pointer;
    display: block;
    line-height: 100%;
}

header p{
    font-size: 1.4rem;
    color: #aaa;
    line-height: 145%;
}

/* navbar */

#navbar .navbar-link{
    list-style: none;

}

.navbar-link{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px
}
.navbar-link a{
    text-decoration: none;
    color: #aaa;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color 0.5s ease;
}

.navbar-link a:hover{
    color:#333;
}

.logos{
    padding-bottom: 1.5rem;
}

.social-logo{
    float: left;
    margin-left: 5px;
    list-style: none;
    display: inline-block;
   
    
}

.social-logo a{
    color: #aaa;
    transition: color 0.5s ease;
    cursor: pointer;
}

.social-logo a:hover{
    color:#333;
}

.social-logo i{
font-size: 2rem;
margin-right: 5px;
}

.social .text{
    font-size: 1rem;
    letter-spacing: 1px;
    color: #aaa;
}

#navbar span a{
    cursor: pointer;
    color: #aaa;
   
}

#navbar span a:hover{
color:#333
}

/* right-side */

#right-side{
    
    background-color: rgb(240,240,240);
    margin-left: 400px;
    padding: 50px;
    
}

.blog-container{
    margin-bottom: 5rem;
}

.background-img-1{
    display: block;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(img/img1.jpeg);
    background-color: #cccccc;
    background-size: cover;
    background-position: 50% 50%;
}

.background-img-2{
    display: block;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(img/img2.jpeg);
    background-color: #cccccc;
    background-size: cover;
    background-position: 50% 50%;
}

.background-img-3{
    display: block;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(img/img3.jpeg);
    background-color: #cccccc;
    background-size: cover;
    background-position: 50% 50%;
}

.background-img-4{
    display: block;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(img/img4.jpeg);
    background-color: #cccccc;
    background-size: cover;
    background-position: 50% 50%;
}

.background-img-5{
    display: block;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(img/img5.jpeg);
    background-color: #cccccc;
    background-size: cover;
    background-position: 50% 50%;
}


#right-side .content{
    padding: 35px;
}


.content{
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.content .blog-title{
    margin-bottom: 15px;
}
.content .blog-title a{
    font-size: 30px;
    line-height: 135%;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.blog-content{
    margin-bottom: 2rem;
}



.blog-content-p{
    font-size: 1.4rem;
    color: #aaa;
    line-height: 145%;
    display: inline;
    
}

.blog-date{
    font-size: 1rem;
    color: #aaa;
    line-height: 145%;
    letter-spacing: 1px;
    margin-right: 8px;
    display: inline;
}


.content .field{
    transition: color 0.5s ease;
    cursor: pointer;
}

.content .field:hover{
    color: black;
}

.rm{
    display: inline;
    font-size: 14px;
    color: #aaa;
    transition: color 0.5s ease;
    margin-left: 8px;

}

.rm:hover{
    color: black;
}

/* btn */

#right-side .btn{
    display: inline-block;
    padding: 11px 20px;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    line-height 18.9px;
    background-color: #888;
    cursor: pointer;
    transition: color 0.5s ease;
}

#right-side .btn:hover{
    background-color: #333;
}
















